ul {
    width:100%;
    background-color: #1b1c1f;
    float: right;
    
}

ul >li {
    list-style: none;
    padding-right: 2rem;
    color:aliceblue;
}

.remote-menu{
    
    display:flex;
    flex-direction: row;
    align-items: flex-end;
   
}

.nav-menu {
    
    width: 100%;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 20px;
    display:flex;
}

.search_container{
    width:80%;
}