:root {
    --input-border: #8b8a8b;
    --input-focus-h: 245;
    --input-focus-s: 100%;
    --input-focus-l: 42%;
  }

.search_box{
    display: flex;
    flex-direction: row;
    height:33px;
    padding-left: 8px;
    padding-right: 8px;
    border-radius: 12px;
    padding-bottom:0px;
}


.input {
    font-size: 16px;
    font-family: inherit;
    padding: 8px 4px;
    background-color: #fff;
    border: 2px solid var(--input-border);
    border-radius: 4px;
  }

 

  .search_button {
        font-size: 16px;
        font-size: max(16px, 1em);
        font-family: inherit;
        border: 2px solid var(--input-border);
  }

    
    
  .mat-mdc-icon-button
  {
    height:33px;
    width:33px;
    padding:3px;
  }
  .mdc-icon-button {
    position: absolute;
    border-radius: 3px;
    padding-top: 6px;
    height:40px;
    color:black;
  }